<p>Primary:
    {% render 'swatch', bg: 'primary100' %}
    {% render 'swatch', bg: 'primary200' %}
    {% render 'swatch', bg: 'primary300' %}</p>
<p>Secondary:
    {% render 'swatch', bg: 'secondary100' %}
    {% render 'swatch', bg: 'secondary700' %}
    {% render 'swatch', bg: 'secondary800' %}
    {% render 'swatch', bg: 'secondary900' %}</p>
<p>Accent:
    {% render 'swatch', bg: 'accentR100' %}
    {% render 'swatch', bg: 'accentR600' %}
    {% render 'swatch', bg: 'accentL100' %}
    {% render 'swatch', bg: 'accentL600' %}</p>