<p>grey button:
    {% render 'swatch', bg: 'grey100' %}
    {% render 'swatch', bg: 'grey200' %}
    {% render 'swatch', bg: 'grey300' %}
    {% render 'swatch', bg: 'grey400' %}
    {% render 'swatch', bg: 'grey500' %}
    {% render 'swatch', bg: 'grey600' %}
    {% render 'swatch', bg: 'grey700' %}
    {% render 'swatch', bg: 'grey800' %}
    {% render 'swatch', bg: 'grey900' %}</p>
<p>primary button:
    {% render 'swatch', bg: 'primary100' %}
    {% render 'swatch', bg: 'primary200' %}
    {% render 'swatch', bg: 'primary300' %}
    {% render 'swatch', bg: 'primary400' %}
    {% render 'swatch', bg: 'primary500' %}
    {% render 'swatch', bg: 'primary600' %}
    {% render 'swatch', bg: 'primary700' %}
    {% render 'swatch', bg: 'primary800' %}
    {% render 'swatch', bg: 'primary900' %}</p>
<p>accent button:
    {% render 'swatch', bg: 'accent100' %}
    {% render 'swatch', bg: 'accent200' %}
    {% render 'swatch', bg: 'accent300' %}
    {% render 'swatch', bg: 'accent400' %}
    {% render 'swatch', bg: 'accent500' %}
    {% render 'swatch', bg: 'accent600' %}
    {% render 'swatch', bg: 'accent700' %}
    {% render 'swatch', bg: 'accent800' %}
    {% render 'swatch', bg: 'accent900' %}</p>
<p>danger button:
    {% render 'swatch', bg: 'danger100' %}
    {% render 'swatch', bg: 'danger200' %}
    {% render 'swatch', bg: 'danger300' %}
    {% render 'swatch', bg: 'danger400' %}
    {% render 'swatch', bg: 'danger500' %}
    {% render 'swatch', bg: 'danger600' %}
    {% render 'swatch', bg: 'danger700' %}
    {% render 'swatch', bg: 'danger800' %}
    {% render 'swatch', bg: 'danger900' %}</p>
<p>warning button:
    {% render 'swatch', bg: 'warning100' %}
    {% render 'swatch', bg: 'warning200' %}
    {% render 'swatch', bg: 'warning300' %}
    {% render 'swatch', bg: 'warning400' %}
    {% render 'swatch', bg: 'warning500' %}
    {% render 'swatch', bg: 'warning600' %}
    {% render 'swatch', bg: 'warning700' %}
    {% render 'swatch', bg: 'warning800' %}
    {% render 'swatch', bg: 'warning900' %}</p>
<p>success button:
    {% render 'swatch', bg: 'success100' %}
    {% render 'swatch', bg: 'success200' %}
    {% render 'swatch', bg: 'success300' %}
    {% render 'swatch', bg: 'success400' %}
    {% render 'swatch', bg: 'success500' %}
    {% render 'swatch', bg: 'success600' %}
    {% render 'swatch', bg: 'success700' %}
    {% render 'swatch', bg: 'success800' %}
    {% render 'swatch', bg: 'success900' %}</p>