@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Reset */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--surface1);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

main {
    background-color: var(--surface1);
    color: var(--text1);
    padding: 1em;
}

aside {
    background-color: var(--surface3);
    color: var(--text3);
    border: 1px solid var(--border3);
    border-radius: 1em;
    padding: 1em;
}

footer {
    background-color: var(--surface2);
    color: var(--text2);
    border: 1px solid var(--border2);
    border-radius: 1em;
    padding: 1em;
}

a {
    color: var(--text3);
    border: 2px solid transparent;
}

a:hover {
    color: var(--text4);
    border: 2px dotted var(--border4);
}