$grey100: hsl($greyHue, $greySaturation, $lightness100);
$grey200: hsl($greyHue, $greySaturation, $lightness200);
$grey300: hsl($greyHue, $greySaturation, $lightness300);
$grey400: hsl($greyHue, $greySaturation, $lightness400);
$grey500: hsl($greyHue, $greySaturation, $lightness500);
$grey600: hsl($greyHue, $greySaturation, $lightness600);
$grey700: hsl($greyHue, $greySaturation, $lightness700);
$grey800: hsl($greyHue, $greySaturation, $lightness800);
$grey900: hsl($greyHue, $greySaturation, $lightness900);

$primary100: hsl($primaryHue, $primarySaturation, $lightness100);
$primary200: hsl($primaryHue, $primarySaturation, $lightness200);
$primary300: hsl($primaryHue, $primarySaturation, $lightness300);
$primary400: hsl($primaryHue, $primarySaturation, $lightness400);
$primary500: hsl($primaryHue, $primarySaturation, $lightness500);
$primary600: hsl($primaryHue, $primarySaturation, $lightness600);
$primary700: hsl($primaryHue, $primarySaturation, $lightness700);
$primary800: hsl($primaryHue, $primarySaturation, $lightness800);
$primary900: hsl($primaryHue, $primarySaturation, $lightness900);

$accent100: hsl($accentHue, $accentSaturation, $lightness100);
$accent200: hsl($accentHue, $accentSaturation, $lightness200);
$accent300: hsl($accentHue, $accentSaturation, $lightness300);
$accent400: hsl($accentHue, $accentSaturation, $lightness400);
$accent500: hsl($accentHue, $accentSaturation, $lightness500);
$accent600: hsl($accentHue, $accentSaturation, $lightness600);
$accent700: hsl($accentHue, $accentSaturation, $lightness700);
$accent800: hsl($accentHue, $accentSaturation, $lightness800);
$accent900: hsl($accentHue, $accentSaturation, $lightness900);

$danger100: hsl($dangerHue, $dangerSaturation, $lightness100);
$danger200: hsl($dangerHue, $dangerSaturation, $lightness200);
$danger300: hsl($dangerHue, $dangerSaturation, $lightness300);
$danger400: hsl($dangerHue, $dangerSaturation, $lightness400);
$danger500: hsl($dangerHue, $dangerSaturation, $lightness500);
$danger600: hsl($dangerHue, $dangerSaturation, $lightness600);
$danger700: hsl($dangerHue, $dangerSaturation, $lightness700);
$danger800: hsl($dangerHue, $dangerSaturation, $lightness800);
$danger900: hsl($dangerHue, $dangerSaturation, $lightness900);

$warning100: hsl($warningHue, $warningSaturation, $lightness100);
$warning200: hsl($warningHue, $warningSaturation, $lightness200);
$warning300: hsl($warningHue, $warningSaturation, $lightness300);
$warning400: hsl($warningHue, $warningSaturation, $lightness400);
$warning500: hsl($warningHue, $warningSaturation, $lightness500);
$warning600: hsl($warningHue, $warningSaturation, $lightness600);
$warning700: hsl($warningHue, $warningSaturation, $lightness700);
$warning800: hsl($warningHue, $warningSaturation, $lightness800);
$warning900: hsl($warningHue, $warningSaturation, $lightness900);

$success100: hsl($successHue, $successSaturation, $lightness100);
$success200: hsl($successHue, $successSaturation, $lightness200);
$success300: hsl($successHue, $successSaturation, $lightness300);
$success400: hsl($successHue, $successSaturation, $lightness400);
$success500: hsl($successHue, $successSaturation, $lightness500);
$success600: hsl($successHue, $successSaturation, $lightness600);
$success700: hsl($successHue, $successSaturation, $lightness700);
$success800: hsl($successHue, $successSaturation, $lightness800);
$success900: hsl($successHue, $successSaturation, $lightness900);