// Color scheme:
// monochromatic, complementary, triadic, tetradic
$colorScheme: triadic;

// Primary color:
// 0 = red, 60 = yellow, 120 = green, 180 = cyan, 240 = blue, 300 = magenta
$greyHue: 211;
$primaryHue: 200;
$accentHue: $primaryHue + 120;
$dangerHue: 359;
$warningHue: 42;
$successHue: 120;

// Saturation:
// 0% = gray, 100% = full color
$primarySaturation: 61%;
$greySaturation: 18%;
$accentSaturation: 59%;
$dangerSaturation: 68%;
$warningSaturation: 75%;
$successSaturation: 58%;

// Lightness:
// 0% = black, 100% = white
$lightness100: 96%;
$lightness200: 87%;
$lightness300: 77%;
$lightness400: 68%;
$lightness500: 58%;
$lightness600: 49%;
$lightness700: 40%;
$lightness800: 30%;
$lightness900: 21%;

// Layout:
// full, third, half
$layout: full;