---
title: LCH colors
description: LCH colors are a new way to define colors in CSS. They are similar to HSL colors, but they are more intuitive and easier to use.
url: https://lea.verou.me/blog/2020/04/lch-colors-in-css-what-why-and-how/
css: lch.css
---
<ol>
    <li>Greys: text, backgrounds, panels, forms</li>
    <li>Primary: navigation elements</li>
    <li>Accents: borders, icons, illustrations
        <ul>
            <li>accent: eye-grabbing color to highlight a new feature</li>
            <li>danger: confirm a destructive action</li>
            <li>warning: a wargning message</li>
            <li>success: highlight a positive trend</li>
        </ul>
    </li>
</ol>

{% render 'swatches/refactoring' %}