---
title: Refactoring UI
description: Building Your Color Palette
url: https://www.refactoringui.com/previews/building-your-color-palette
css: refactoring.css
---
<ol>
    <li>Greys: text, backgrounds, panels, forms</li>
    <li>Primary: navigation elements</li>
    <li>Accents: borders, icons, illustrations
        <ul>
            <li>accent: eye-grabbing color to highlight a new feature</li>
            <li>danger: confirm a destructive action</li>
            <li>warning: a wargning message</li>
            <li>success: highlight a positive trend</li>
        </ul>
    </li>
</ol>

{% render 'swatches/refactoring' %}