.primary900 {
  background-color: $primary900;
  color: white;
}

.primary800 {
  background-color: $primary800;
  color: white;
}

.primary700 {
  background-color: $primary700;
  color: white;
}

.primary600 {
  background-color: $primary600;
  color: white;
}

.primary500 {
  background-color: $primary500;
  color: white;
}

.primary400 {
  background-color: $primary400;
  color: black;
}

.primary300 {
  background-color: $primary300;
  color: black;
}

.primary200 {
  background-color: $primary200;
  color: black;
}

.primary100 {
  background-color: $primary100;
  color: black;
}

.grey900 {
  background-color: $grey900;
  color: white;
}

.grey800 {
  background-color: $grey800;
  color: white;
}

.grey700 {
  background-color: $grey700;
  color: white;
}

.grey600 {
  background-color: $grey600;
  color: white;
}

.grey500 {
  background-color: $grey500;
  color: white;
}

.grey400 {
  background-color: $grey400;
  color: black;
}

.grey300 {
  background-color: $grey300;
  color: black;
}

.grey200 {
  background-color: $grey200;
  color: black;
}

.grey100 {
  background-color: $grey100;
  color: black;
}

.accent900 {
  background-color: $accent900;
  color: white;
}

.accent800 {
  background-color: $accent800;
  color: white;
}

.accent700 {
  background-color: $accent700;
  color: white;
}

.accent600 {
  background-color: $accent600;
  color: white;
}

.accent500 {
  background-color: $accent500;
  color: white;
}

.accent400 {
  background-color: $accent400;
  color: black;
}

.accent300 {
  background-color: $accent300;
  color: black;
}

.accent200 {
  background-color: $accent200;
  color: black;
}

.accent100 {
  background-color: $accent100;
  color: black;
}

.danger900 {
  background-color: $danger900;
  color: white;
}

.danger800 {
  background-color: $danger800;
  color: white;
}

.danger700 {
  background-color: $danger700;
  color: white;
}

.danger600 {
  background-color: $danger600;
  color: white;
}

.danger500 {
  background-color: $danger500;
  color: white;
}

.danger400 {
  background-color: $danger400;
  color: black;
}

.danger300 {
  background-color: $danger300;
  color: black;
}

.danger200 {
  background-color: $danger200;
  color: black;
}

.danger100 {
  background-color: $danger100;
  color: black;
}

.warning900 {
  background-color: $warning900;
  color: white;
}

.warning800 {
  background-color: $warning800;
  color: white;
}

.warning700 {
  background-color: $warning700;
  color: white;
}

.warning600 {
  background-color: $warning600;
  color: white;
}

.warning500 {
  background-color: $warning500;
  color: white;
}

.warning400 {
  background-color: $warning400;
  color: black;
}

.warning300 {
  background-color: $warning300;
  color: black;
}

.warning200 {
  background-color: $warning200;
  color: black;
}

.warning100 {
  background-color: $warning100;
  color: black;
}

.success900 {
  background-color: $success900;
  color: white;
}

.success800 {
  background-color: $success800;
  color: white;
}

.success700 {
  background-color: $success700;
  color: white;
}

.success600 {
  background-color: $success600;
  color: white;
}

.success500 {
  background-color: $success500;
  color: white;
}

.success400 {
  background-color: $success400;
  color: black;
}

.success300 {
  background-color: $success300;
  color: black;
}

.success200 {
  background-color: $success200;
  color: black;
}

.success100 {
  background-color: $success100;
  color: black;
}