$grey100: oklch($lightness100 $greySaturation $greyHue);
$grey200: oklch($lightness200 $greySaturation $greyHue);
$grey300: oklch($lightness300 $greySaturation $greyHue);
$grey400: oklch($lightness400 $greySaturation $greyHue);
$grey500: oklch($lightness500 $greySaturation $greyHue);
$grey600: oklch($lightness600 $greySaturation $greyHue);
$grey700: oklch($lightness700 $greySaturation $greyHue);
$grey800: oklch($lightness800 $greySaturation $greyHue);
$grey900: oklch($lightness900 $greySaturation $greyHue);

$primary100: oklch($lightness100 $primarySaturation $primaryHue);
$primary200: oklch($lightness200 $primarySaturation $primaryHue);
$primary300: oklch($lightness300 $primarySaturation $primaryHue);
$primary400: oklch($lightness400 $primarySaturation $primaryHue);
$primary500: oklch($lightness500 $primarySaturation $primaryHue);
$primary600: oklch($lightness600 $primarySaturation $primaryHue);
$primary700: oklch($lightness700 $primarySaturation $primaryHue);
$primary800: oklch($lightness800 $primarySaturation $primaryHue);
$primary900: oklch($lightness900 $primarySaturation $primaryHue);

$accent100: oklch($lightness100 $accentSaturation $accentHue);
$accent200: oklch($lightness200 $accentSaturation $accentHue);
$accent300: oklch($lightness300 $accentSaturation $accentHue);
$accent400: oklch($lightness400 $accentSaturation $accentHue);
$accent500: oklch($lightness500 $accentSaturation $accentHue);
$accent600: oklch($lightness600 $accentSaturation $accentHue);
$accent700: oklch($lightness700 $accentSaturation $accentHue);
$accent800: oklch($lightness800 $accentSaturation $accentHue);
$accent900: oklch($lightness900 $accentSaturation $accentHue);

$danger100: oklch($lightness100 $dangerSaturation $dangerHue);
$danger200: oklch($lightness200 $dangerSaturation $dangerHue);
$danger300: oklch($lightness300 $dangerSaturation $dangerHue);
$danger400: oklch($lightness400 $dangerSaturation $dangerHue);
$danger500: oklch($lightness500 $dangerSaturation $dangerHue);
$danger600: oklch($lightness600 $dangerSaturation $dangerHue);
$danger700: oklch($lightness700 $dangerSaturation $dangerHue);
$danger800: oklch($lightness800 $dangerSaturation $dangerHue);
$danger900: oklch($lightness900 $dangerSaturation $dangerHue);

$warning100: oklch($lightness100 $warningSaturation $warningHue);
$warning200: oklch($lightness200 $warningSaturation $warningHue);
$warning300: oklch($lightness300 $warningSaturation $warningHue);
$warning400: oklch($lightness400 $warningSaturation $warningHue);
$warning500: oklch($lightness500 $warningSaturation $warningHue);
$warning600: oklch($lightness600 $warningSaturation $warningHue);
$warning700: oklch($lightness700 $warningSaturation $warningHue);
$warning800: oklch($lightness800 $warningSaturation $warningHue);
$warning900: oklch($lightness900 $warningSaturation $warningHue);

$success100: oklch($lightness100 $successSaturation $successHue);
$success200: oklch($lightness200 $successSaturation $successHue);
$success300: oklch($lightness300 $successSaturation $successHue);
$success400: oklch($lightness400 $successSaturation $successHue);
$success500: oklch($lightness500 $successSaturation $successHue);
$success600: oklch($lightness600 $successSaturation $successHue);
$success700: oklch($lightness700 $successSaturation $successHue);
$success800: oklch($lightness800 $successSaturation $successHue);
$success900: oklch($lightness900 $successSaturation $successHue);